#csvFile {
  width: 150px;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
}

#csvFile::-webkit-file-upload-button {
  visibility: hidden;
}

#csvFile::before {
  display: inline-block;
  content: 'Choose file';
  background: var(--color);
  border: 1px solid #999;
  border-radius: 4px;
  padding: 5px 20px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.4em;
  color: var(--white);
}

#csvFile:hover::before {
  border-color: black;
}

#csvFile:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.cesium-viewer-cesiumInspectorContainer {
  top: 24px;
  right: 100px;
}
